button {
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 0.25rem;
	background-color: antiquewhite;
}

button > * {
	pointer-events: none;
}

button[variant='link'],
button[variant='simple'] {
	border: none;
	background: transparent;
}

button[negative] {
	color: red;
}
