button {
	color: var(--color-primary);
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 0.25rem;
	border: 1px solid var(--color-primary);
	border-radius: 4px;
	padding: 0.5rem;
	line-height: 1.25;
	transition: color 0.5s, border-color 0.5s;
}

button:hover {
	border-color: #019bba;
	color: #019bba;
}

button[size='s'] {
	padding: 0.11rem 0.25rem;
}

button > * {
	pointer-events: none;
}

button[variant='link'],
button[variant='simple'] {
	border: none;
	background: transparent;
}

button[negative] {
	color: red;
}

/* MOVE TO THEME */

:root,
:host {
	--color-light: #fff;
	--color-dark: #1c1c1c;
	--color-primary: #005f72;
}
