button {
	color: var(--color-primary);
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 0.25rem;
	border: 1px solid var(--color-primary);
	border-radius: 4px;
	padding: 1.5rem 2rem;
	line-height: 1.25;
	transition: color 0.3s, border-color 0.3s, background-color 0.3s;
	font-family: var(--font-family-body);
	font-weight: 600;
	background: transparent;
}

button:hover {
	color: var(--color-primary-2);
	border-color: var(--color-primary-2);
}

button[size='s'] {
	padding: 0rem 0.25rem;
}

button[size='xs'] {
	line-height: 1rem;
	padding: 0.25rem 0.25rem;
	font-size: 0.85rem;
}

button > * {
	pointer-events: none;
}

button[variant='primary'] {
	background-color: var(--color-primary);
	color: var(--color-light);
}
button[variant='primary']:hover {
	background-color: var(--color-primary-2);
	color: var(--color-light);
}

button[variant='link'],
button[variant='simple'] {
	border: none;
	background: transparent;
}

button[icononly][size='xs'] {
	width: 1.75rem;
	height: 1.75rem;
}

button[negative] {
	color: var(--color-negative);
	border-color: var(--color-negative);
}

button[positive] {
	color: var(--color-positive);
	border-color: var(--color-positive);
}

/* MOVE TO THEME */

:root,
:host {
	--color-light: #fff;
	--color-dark: #1c1c1c;
	--color-primary: #019bba;
	--color-primary-2: #005f72;
	--color-negative: red;
	--color-positive: green;
}

/* MOVE TO FONT */

@font-face {
	font-family: FHeader;
	src: url('/styles/font/typeface/HEADING/Lora/Lora-VariableFont_wght.ttf');
}

/* body */

@font-face {
	font-family: FBody;
	src: url('/styles/font/typeface/Mulish/Mulish-VariableFont_wght.ttf');
}

:root,
:host {
	--font-family-header: FHeader;
	--font-family-body: FBody;
}
